.list{
    color:#00A5EC;
}


.head{
    
    
    font-family: Inter;
    font-weight: bold;
    font-size: 40px;
    color: #424242;
}
.back{
    font-size: 30px;
    color:black;
    position: absolute;
top:130px;
left:470px;
 
}
@media (min-width:300px) and (max-width:800px){
    .back{
        position:absolute;
        top:20;
        left:20px;
    }
}
.arrow{
    font-size: 20px;
    color:black;
position: absolute;
top:130px;
left:500px;

}
@media (min-width:300px) and (max-width:800px){
    .arrow{
        position:absolute;
        top:20;
        left:60px;
    }
}

.plus{
    color:#00A5EC;
    font-size: 35px;
    cursor: pointer;
    position:absolute;
    top:130px;
    left:800px;

}
@media (min-width:300px) and (max-width:800px){
    .plus{
        position:absolute;
        top:20;
    left:300px;
    
    }
}
.right1{
    color:#c2c2c2;
    margin-left: 10px;
    margin-right: 10px;
}


.cb{
    background-color:#C2C2C2 ;
    border:1px solid #EDEDED;
    margin-left: 10px;
}
.cb1{
    color: #C2C2C2;
    text-decoration: line-through;
}
.cb2{
    margin-left: 10px;
}
.b1{
    color: black;
}
.set1{
margin-left: 10px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F7F7F7;
    justify-content: center;
}

.child1{
    width: 300px;
    height: 300px;
    border:1px solid #EDEDED;
    border-radius: 10px;
    background-color: white;
    color:#00A5EC;
    cursor: pointer;  
    font: normal normal medium 20px/24px Inter;
    margin-top:80px;
    

}
.child1:hover{
    box-shadow: 0 0 15px rgb(138, 136, 136);
}
.child2:hover{
    box-shadow: 0 0 15px rgb(138, 136, 136);
}
.child3:hover{
    box-shadow: 0 0 15px rgb(138, 136, 136);
}

a{
    text-decoration: none;
}
hr{
    color:#f7f2f2;
}